<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("../../shared/includes/head-default", { pageTitle: "온라인 쇼핑몰 | 장바구니" }) %>
    <link rel="stylesheet" href="/styles/cart.css" />
    <script src="/scripts/cart-item-management.js" defer></script>
  </head>
  <body>
    <%- include("../../shared/includes/header") %>
    <main>
      <h1>장바구니 목록</h1>
      <ul id="cart-items">
        <% for (const cartItem of locals.cart.items) {%>
        <li><%- include("includes/cart-item", { item: cartItem }) %></li>
        <% } %>
      </ul>
      <div id="cart-total">
        <p>총 가격: <span id="cart-total-price"><%= locals.cart.totalPrice %>원</span></p>
        <% if (locals.isAuth) { %>
        <form action="/orders" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
          <button class="btn">구매하기</button>
        </form>
        <%} else {%>
        <p id="cart-total-fallback">로그인 인증 후 구매 해보세요.</p>
        <% } %>
      </div>
    </main>
  </body>
</html>
